/*
--------------------------
 Gude Styles: High Contrast
--------------------------
*/

.guide-one {
  font-family: "kepler-std", serif;
  font-size: 20px;
  color: #353535;
  padding: 40px 0;

  /*
  --------------------------
   Layout
  --------------------------
  */

  .container {
    max-width: 800px;
  }

  section {
    clear: both;
  }

  /*
  --------------------------
   Typography
  --------------------------
  */

  h1 {
    font-family: "kepler-std-semicondensed-cap", serif;
    font-weight: 500;
    font-size: 3em;
    text-align: left;
  }

  p {
    &.column {
      padding-left: 0;
      padding-right: 0;
    }

    &.intro {
      font-size: 1.2em;
      padding: 0.5em 0 1em 0;
    }
  }

  blockquote {
    margin: 0.3em 0 0 0;
    float: left;
    padding: 0.5em 30px 0.5em 0;

    @media screen and (max-width: 768px) {
      padding: 1.5em 0.5em;
      margin: 0;
    }

    p:first-child {
      border-top: 4px solid #E85656;
      padding-top: 0.5em;
    }

    p {
      margin: 0;
      padding: 0;
      border: none;
      font-size: 1.2em;
      font-weight: 500;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }

    span.author {
      display: block;
      padding-top: 1em;
      color: #A0A0A0;
    }
  }
}